/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #4895ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 960px;
  border-radius: 15px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  padding: 25px 50px;
  border-right: 2px solid #4895ef;
  color: #4895ef;
}

.pricing-plan:last-child {
  border-right: none;
}

.pricing-img {
  /* width: 100%; */
  /* panel 자식요소이기 때문에 max-width: 100%를 하면 panel에 맞춰짐 */
  max-width: 100%;
  margin-bottom: 25px;
}

.pricing-header {
  /* flex-wrap: wrap; */
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 15px 0 25px;
}

.pricing-features {
  margin: 50px 0 25px;
  border-top: 2px solid #4895ef;
}

.pricing-features-item {
  padding: 15px 0;
  border-bottom: 2px solid #4895ef;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
}

.pricing-price {
  display: block;
  /* margin: 25px 0; */
  font-size: 35px;
  color: #4895ef;
}

.pricing-button {
  display: inline-block;
  border: 2px solid #4895ef;
  padding: 15px 25px;
  margin: 25px 0;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 200ms, color 200ms;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #4895ef;
  color: white;
}

.pricing-button.is-featured {
  background-color: #4895ef;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #4361ee;
}

@media (max-width: 960px) {
  .panel {
    flex-direction: column;
  }

  .pricing-plan {
    border-right: none;
    border-bottom: 2px solid #4895ef;
    padding: 0;
  }
  .pricing-plan:last-child {
    border-bottom: none;
  }
}
