body {
  background-color: #151b29;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

button {
  padding: 1em 2em;
  font-size: 3em;
  background: none;
  color: #ffa260;
  border: 2px solid;
  transition: color 1s, border-color 1s, box-shadow 1s, transform 1s;
}

button:hover {
  color: white;
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  cursor: pointer;
  transform: translateY(-0.25em);
  /* position: relative;
  bottom: 10px; */
}

button:active {
  color: #ffa260;
  border-color: #ffa260;
  box-shadow: none;
  transform: translateY(0.25em);
}

/* body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25, box-shadow 0.25, transform 0.25;
}

button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  /* position: relative;
  bottom: 0.25em; */
/* transform: translateY(-0.25em);
  cursor: pointer;
}

button:active {
  transform: translateY(0.25em);
  box-shadow: none;
  cursor: pointer;
} */
